<app-dashboard-layout [titlePage]="titlePage">
  @if (!error) {
    <ng-container stat-cards>
      <app-stat-card [title]="'Number of countries'" [value]="totalCountries" />
      <app-stat-card [title]="'Number of JOs'" [value]="totalJOs" />
    </ng-container>
  }
  <div class="d-flex justify-center m-3">
    <div class="w-50">
      @if (error) {
        <app-error-message [message]="error" />
      } @else {
        <app-chart
          [type]="'pie'"
          [labels]="countries"
          [data]="medalsPerCountry"
          [datasetLabel]="'Medals'"
          [backgroundColor]="['#0b868f', '#adc3de', '#7a3c53', '#8f6263', 'orange', '#94819d']"
          (pointClick)="onChartPointClick($event)"
        />
      }
    </div>
  </div>
</app-dashboard-layout>
