<app-dashboard-layout [titlePage]="titlePage">
  @if (!error) {
    <ng-container stat-cards>
      <app-stat-card [title]="'Number of countries'" [value]="totalCountries" />
      <app-stat-card [title]="'Number of JOs'" [value]="totalJOs" />
    </ng-container>
  }
  <div class="d-flex justify-center m-3">
    <div class="w-50">
      @if (error) {
        <app-error-message [message]="error" />
      } @else if (loading) {
        <app-loader />
      } @else {
        <app-chart [config]="chartConfig" (pointClick)="onChartPointClick($event)" />
      }
    </div>
  </div>
</app-dashboard-layout>
