<app-dashboard-layout [titlePage]="titlePage">
  <ng-container stat-cards>
    <app-stat-card [title]="'Number of entries'" [value]="totalEntries" />
    <app-stat-card [title]="'Total Number of medals'" [value]="totalMedals" />
    <app-stat-card [title]="'Total Number of athletes'" [value]="totalAthletes" />
  </ng-container>
  <div class="chart-container wrapper-container">
    <div class="container">
      <canvas id="countryChart">{{ lineChart }}</canvas>
      <h2>Date</h2>
    </div>
  </div>
  <div class="center">
    <app-back-link />
  </div>
</app-dashboard-layout>
